language: node_js
node_js: "stable"

before_install:
  - stty cols 80

install:
  - npm install testcafe
  - npm install lodash
  - npm install moment
  - npm install moment-timezone

dist: trusty
sudo: required

addons:
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

notifications:
  email:
    recipients:
      - aklinga@gaincapital.com
    on_success: always # default: change
    on_failure: always # default: always